
h1{
    color: #253237;
    font-family:sans-serif;
    text-align: center;
    padding: 100px;
    letter-spacing: 2px;
}
button{
    background-color: transparent;
    color: #253237;
    font-family:'Times New Roman', Times, serif;
    font-size:large;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    border-radius: 25px;
    transition: box-shadow 0.3 ease;

}

button:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

}

.div1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

h2{
    color: #253237;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button1{
    background-color: #e0fbfc;
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.3 ease;
    display: inline-block;
}
.cont1{
    display: none;
    padding: 10px;
    margin-top: 10px;
    
}

#toggle:checked +.button1 +.cont1 {
    display: block;
}
.button1:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.button2{
    background-color: #C2DFE3;
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.3 ease;
    display: inline-block;
}
.button2:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.cont2{
    display: none;
    padding: 10px;
    margin-top: 10px;
    
}

#toggle2:checked +.button2 +.cont2 {
    display: block;
}
.button3{
    background-color: #9DB4C0;
    color: black;
    font-size: medium;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    transition: box-shadow 0.3 ease;
    display: inline-block;
}
.button3:hover{
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
.cont3{
    display: none;
    padding: 10px;
    margin-top: 10px;
    
}

#toggle3:checked +.button3 +.cont3 {
    display: block;
}
